/* Events test styling

body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  color: #3498db;
}

a {
  text-decoration: none;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border-radius: 5px;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
}

button {
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

button:hover {opacity: 1} */


/* styles.css */

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


/* Form container styles */
form {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  width: 300px;
}

h1 {
  text-align: center;
}

/* Label styles */
label {
  display: block;
  margin-bottom: 8px;
}

/* Input styles */
input[type="text"],
input[type="datetime-local"],
button {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Button styles */
button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
